.button{
    display: inline-block;
    height: 110px;
    width: 110px;
    border: 1px solid black;
}
.button button{
    border: none;
    color: transparent;
}
button:focus{
    outline:0;
}
.button button:active{

}
#content{
    text-align: center;
}
.bodyDiv{
    display: block;
}
.pageTitle h1{
    text-decoration: underline;
}
.scoreDiv{
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    width: 150px;
    border: 1px solid black;
}
h1, p{
    font-family: Arial, Helvetica, sans-serif;
}
.scoreLabel{
    text-decoration: underline;
}
#results{
    height: 200px;
}
#reset{
    margin-top: 20px;
}
.scoreNumber{
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}
#rock{
    background-image: url("images/rock.png");
    background-size: 59px 64px;
    height: 64px;
    width: 59px;
    margin-top: 23px;
    margin-bottom: 23px;
}
#paper{
    background-image: url("images/paper.png");
    background-size: 81px 96px;
    height: 96px;
    width: 81px;
    margin-top: 7px;
    margin-bottom: 7px;
}
#scissors{
    background-image: url("images/scissors.png");
    background-size: 66px 96px;
    height: 96px;
    width: 66px;
    margin-top: 7px;
    margin-bottom: 7px;
}
.selectButton{
    
}